/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/data/*
/var/cache
/vendor/
/memory_docs
.idea/
coverage/
.phpunit.cache
/coverage
/docs

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
